* {
    padding: 0;
    margin: 0;
  }
  .top-nav {
    background-image: linear-gradient(to bottom right, #052f31, #307579);
    min-height: 15%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    font-size: calc(10px + 2vmin);
    font-family: "Verdana";
    font-style: "bold";
}

.top-nav-left {
    min-height: 15%;
    padding-left: 20px;
    display: flex;
    flex-direction:row;
    vertical-align: center;
}

.top-nav-right {
    min-height: 15%;
    display: flex;
    flex-direction:row;
    vertical-align: center;
}

.menu {
    align-self: flex-end;
    padding: 10px;
    font-size: calc(3px + 2vmin);
    justify-content: right;
    color: white;
}

.title {
    align-self: center;
    color:white;
}

.body-bg {
    background-image:url("images/main.jpg");
    min-height: 100%;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    font-size: calc(10px + 2vmin);
    font-family: "Verdana";
    font-style: "bold";
    margin: 30px;
}

.box-bg{
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    font-size: 30px;
    opacity:90%;
    color:#307579;
    display: flex;
    flex-direction: row;
}

#bodybtn {
    background-color:#307579;
    border-color:#307579;
    color: white;
    border-radius: 20%;
    padding: 15px;
    margin-left: 10px;

}

a:link {
    color: white;
    padding:10px;
    background-color: transparent;
    text-decoration: none;
  }

  a:visited {
    color: white;
    padding:10px;
    background-color: transparent;
    text-decoration: none;
  }

  a:hover {
    color: 307579;
    padding:10px;
    background-color: white;
    opacity: 70%;
  }

.logo {
    width: 70px;
    height: 70px;
    padding: 30px;
}

input, select, textarea{
    color: gray;
    font-size: 30px;
    height: 45px;
    align-items: center;
    justify-content: center;
    text-align:center;
}

