<html>
<link rel="stylesheet" type="text/css" href="css/homePage.css">
<header>
    <div class="top-nav">
        <div class="top-nav-left">
            <img src="http://localhost:8080/css/images/logo.png" height="80px">
        </div>
        <div class="top-nav-right">
            <div class='menu'><a href='/'>Home</a></div>
            <div class='menu'><a href='/about'>About</a></div>
            <div class='menu'><a href='/data_vis'>Visualization</a></div>
        </div>
    </div>

</header>

<body>
        <div class="box-bg">
            <p>"As college students most of us are looking into renting our first apartments, in areas some of us are
                not from. As we have all begun our journey towards adulthood, housing is often a confusing mess. It is
                often difficult to determine what you should expect an apartment to cost in an area without trying to
                find every apartment building there or talking with dozens of people. We also get a lot of information
                from our parents that is often outdated and unreliable. By consolidating information about housing in
                certain areas we can help people have an understanding of housing around their area and what to expect.
            </p>

        </div>

    </div>
</body>

</html>