<html>
<link rel="stylesheet" type="text/css" href="css/homePage.css">
<header>
    <div class="top-nav">
        <div class="top-nav-left">
            <img src="http://localhost:8080/css/images/logo.png" height="80px">
        </div>
        <div class="top-nav-right">
            <div class='menu'><a href='/'>Home</a></div>
            <div class='menu'><a href='/about'>About</a></div>
            <div class='menu'><a href='/data_vis'>Visualization</a></div>
        </div>
    </div>

</header>

<body>
    <div class="body-bg">
        <div class="box-bg">
            <canvas id="myChart"></canvas>
            <div class="box-about">
                <h5 id="average"></h5>
                <br>
                <h5 id="average2"></h5>
            </div>
        </div>


    </div>

    </div>

</body>
</body>

<script>
    var data = {{{ data }}}
</script>
<script>
    var zipcode = {{{ zipcode }}}
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script type="text/javascript" src="js/front_data_vis.js"></script>

</html>