<html>
    <link rel="stylesheet" type="text/css" href="css/homePage.css">
     <script src="js/front_data_vis.js"></script> 
    <header>
        <div class="top-nav">
          <div class='top-menu left'><a href='/data_vis'>Play</a></div>
         </div>
    </header>
    <body>
    <br><br><br><br><br>
        <h1>Welcome to the Data Vis page!!</h1>
        <div class="bodybtn">
            <form action='/' method= "get" >
                <button type = "submit">Go to the Home Page!!</button>
            </form>
        </div>
        <canvas></canvas>
    </body>
</html>