<html>
<link rel="stylesheet" type="text/css" href="css/homePage.css">
<header>
    <div class="top-nav">
        <div class="top-nav-left">
            <div class="title"> Our App Name </div>
        </div>
        <div class="top-nav-right">
            <div class='menu'><a href='/'>Home</a></div>
            <div class='menu'><a href='/data_vis'>About</a></div>
            <div class='menu'><a href='/data_vis'>Visualization</a></div>
        </div>
    </div>

</header>

<body>
        <div class="body-bg">
        <div class="box-bg">

        </div>

    </div>
</body>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script type="text/javascript" src="js/front_data_vis.js"></script>

</html>