<html>
<link rel="stylesheet" type="text/css" href="css/homePage.css">
<header>
    <div class="top-nav">
        <div class="top-nav-left">
            <div class="title"> Our App Name </div>
        </div>
        <div class="top-nav-right">
            <div class='menu'><a href=''>Home</a></div>
            <div class='menu'><a href='/data_vis'>About</a></div>
            <div class='menu'><a href='/data_vis'>Visualization</a></div>
        </div>
    </div>
</header>

<body>
    <div class="body-bg">
        <div class="box-bg">
            <h3 style="padding-right: 30px;"> Enter Zip Code:</h3>
            <form action='data_vis' method="get">
                <input type="text" name="zipcode" style="width: 200px;">
                <button id="bodybtn" type="submit"> GO </button>
            </form>

        </div>

    </div>

</body>

</html>