<html>
<link rel="stylesheet" type="text/css" href="css/homePage.css">
<header>
    <div class="top-nav">
        <div class="top-nav-left">
            <div class="title"> Our App Name </div>
        </div>
        <div class="top-nav-right">
            <div class='menu'><a href=''>Home</a></div>
            <div class='menu'><a href='/data_vis'>Visualization</a></div>
        </div>
    </div>
</header>

<body>
    <br><br><br><br><br>
    <h1>Welcome to the Home Page!</h1>
    <div class="bodybtn">
        <form action='data_vis' method="get">
            <button type="submit">Go to the Data Viz page!</button>
        </form>

    </div>
</body>

</html>