<html>
    <link rel="stylesheet" type="text/css" href="css/homePage.css">
    <header>
        <div class="top-nav">
          <div class='top-menu left'><a href='/data_vis'>Play</a></div>
         </div>
    </header>
    <body>
    <br><br><br><br><br>
        <h1>Welcome to the Home Page!</h1>
        <div class="bodybtn">
            <form action='data_vis' method= "get" >
                <button type = "submit">Go to the Data Viz page!</button>
            </form>

        </div>
        <canvas id="myChart" width="400" height="400"></canvas>
    </body>
</html>